@{
    ViewData["Title"] = "Dojodachi";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="dojo">
            <span>Fullness @ViewBag.Fullness</span> 
            <span>Happiness @ViewBag.Happiness</span> 
            <span>Meals @ViewBag.Meals</span> 
            <span>Energy @ViewBag.Energy</span>
            <div class="card" style="width: 100%">
                <img class="card-img-top" src="~/images/@ViewBag.img" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">@ViewBag.action</p>
                </div>
            </div>
            @if(ViewBag.Happiness == 0 || ViewBag.Fullness == 0)
            {
                <span><a href="Feed" class="btn btn-primary disabled">Feed</a></span>
                <span><a href="Play" class="btn btn-primary disabled">Play</a></span>
                <span><a href="Work" class="btn btn-primary disabled">Work</a></span>
                <span><a href="Sleep" class="btn btn-primary disabled">Sleep</a></span>
                <span><a href="Reset" class="btn btn-primary">Reset</a></span> 
            }
            else 
            {
                 @if(ViewBag.Meals == 0) 
                {
                    <span><a href="Feed" class="btn btn-primary disabled">Feed</a></span>    
                }
                else if(ViewBag.Meals > 0)
                {
                    <span><a href="Feed" class="btn btn-primary">Feed</a></span>
                }
                <span><a href="Play" class="btn btn-primary">Play</a></span>
                <span><a href="Work" class="btn btn-primary">Work</a></span>
                <span><a href="Sleep" class="btn btn-primary">Sleep</a></span>
            }
        </div>
    </div>    
</div>